html, body, #mainscreen {
height: 100%;
width: 100%;

}

body {    
margin: 0 !important;
padding: 0 !important;
font-family: 'Roboto Mono';
}

body .container {
    padding: 25px;
    max-width: 100%;
    margin: 0 auto;   
}

.controlpad .row{
    margin-top: 8%;
}

#mainscreen {
clear: both;
}

.label {
position: relative;
top: 50%;
transform: translateY(-50%);
}

#videowrapper {
padding: 20%;
position: relative;
width: 100%;
height: 90%;
}
    
#video {
z-index:1;
width: 100%;
height: 100%;
}

#video img {
width: 100%;
height: 100%;
object-fit: contain;
}

#overlay {
position: absolute;
z-index:100;
width: 100%;
height: 100%;
margin-top: 5%; 
top: 0;
left: 0;
color: #A4F886;
text-align: center;
}

.controlpad {
padding: 10% 10% 10% 10%;
align-self: center;
text-align: center;

}

.controlpad h1 {
    font-size: 50px;
}


#stop {
    display: block;
    position: relative;
    color: #DB9292;
    text-align: center;
    font-weight: bold;
    }

#status {
top: 0;
float: left;
text-align: left;
padding: 5px;
width: 40%;
}

#sensors {
top: 0;
float: right;
text-align: right;
padding: 5px;
width: 40%;
}

.buttonbar {
margin: 5% 0 5% 0; 
display: flex;
align-items: center;
text-align: center;
}

.touchpad {
text-align: center;
font-family: "Roboto Mono";
font-weight: bold; 
width: 20%;
height: 100%;
float: left;
padding: 1.5%;
margin: 0 0.5% 0 0.5%; 
}

#front, #left, #right, #back {
    color: #4E4A4A;
}

#blue {
background-color: #86DCF8;
}

#yellow {
background-color: #F8EC86;
}

#red {
background-color: #F88686;
}

#green {
background-color: #A4F886;
}

#hud {
background-color: #F8CA86;
}

#l0, #r0 {
outline: 10px solid black;
}

.speedbar {
display: flex;
align-items: center;
text-align: center;
}

.speed {
text-align: center;
font-family: "Roboto Mono";
font-weight: bold; 
width: 100%;
height: 100%;
float: left;
padding: 1.5%;
margin: 0 0.5% 0 0.5%; 
}

#slow {
background-color: #F8EC86;
}
#medium {
background-color: #F8CA86;
}
#fast {
background-color: #A4F886;
}
@media screen and (orientation:portrait) {

    /*add some mobile specifics*/

/*new part*/
}
#u_90 {
    position: absolute;
    width: 45px;
    height: 50px;
    left: 155px;
    top: 311px;

    background: #4E4A4A;
}

#r_90 {
    position: absolute;
    width: 45px;
    height: 49px;
    left: 302px;
    top: 413px;

    background: #4E4A4A;
    transform: rotate(90deg);
}

#d_90 {
    position: absolute;
    width: 45px;
    height: 49px;
    left: 201px;
    top: 561px;

    background: #4E4A4A;
    transform: rotate(180deg);  
}

#l_90 {
    position: absolute;
    width: 45px;
    height: 49px;
    left: 55px;
    top: 458px;
    background: #4E4A4A;
    transform: rotate(-90deg);
}