

body {    
margin: 0 !important;
padding: 0 !important;
font-family: 'Roboto Mono';
}

body .container {
    width: 100%;
    height: 100%;
    margin: 0 auto;   
}

.controlpad .row{
    margin-top: 8%;
}


.label {
position: relative;
top: 50%;
transform: translateY(-50%);
}

#videowrapper {
padding: 10%;
position: relative;
width: 100%;
height: 90%;
}
    
#video {
z-index:1;
width: 100%;
height: 100%;
}

#video img {
width: 100%;
height: 100%;
object-fit: contain;
}

#overlay {
position: absolute;
z-index: 100;
width: 100%;
height: 100%;
margin-top: 5%; 
top: 0;
left: 0;
color: #A4F886;
text-align: center;
font-family: "Roboto Mono";

}

.controlpad {
padding: 10% 10% 10% 10%;
z-index: 1000;
align-self: center;
text-align: center;
overflow: hidden;
}

.controlpad h1 {
    font-size: 50px;
}


#stop {
    display: block;
    position: relative;
    color: #DB9292;
    text-align: center;
    font-weight: bold;
    }

#status {
top: 0;
float: left;
text-align: left;
padding: 5px;
width: 40%;
}

#sensors {
top: 0;
float: right;
text-align: right;
padding: 5px;
width: 40%;
}

.buttonbar {
margin: 5% 0 5% 0; 
display: flex;
align-items: center;
text-align: center;
z-index: 1000;
}

.touchpad {
text-align: center;
font-family: "Roboto Mono";
width: 20%;
height: 100%;
float: left;
padding: 1.5%;
margin: 0 0.5% 0 0.5%; 
}

#forward, #left, #right, #backward {
    color: #4E4A4A;
}

#blue {
background-color: #86DCF8;
}

#yellow {
background-color: #F8EC86;
}

#red {
background-color: #F88686;
}

#green {
background-color: #A4F886;
}

#hud {
background-color: #F8CA86;
}

#l0, #r0 {
outline: 10px solid black;
}

.speedbar {
display: flex;
align-items: center;
text-align: center;
}

.speed {
text-align: center;
font-family: "Roboto Mono";
width: 100%;
height: 100%;
float: left;
padding: 1.5%;
margin: 0 0.5% 0 0.5%; 
}

#slow {
background-color: #F8EC86;
}
#medium {
background-color: #F8CA86;
}
#fast {
background-color: #A4F886;
}